<ng-container *ngIf="!o.F[0]">&lt;&gt;</ng-container>
<ng-container *ngIf="o.F[0]?.A=='LVAL'">.{{o.F[1].A}}</ng-container>
<ng-container *ngIf="o.F[0]?.A=='GVAL'">,{{o.F[1].A}}</ng-container>
<ng-container *ngIf="o.F[0]?.A=='COND'">
    <div>
        <ng-container *ngFor="let part of o.F; index as i">
            <ng-container *ngIf="i==0">&lt;COND</ng-container>
            <ng-container *ngIf="i!=0">
                <div style="margin-left:2em;">
                    <app-zil-array [o]="part"></app-zil-array>
                </div>
            </ng-container>
        </ng-container>
        &gt;
    </div>
</ng-container>
<ng-container *ngIf="!(   (o.F[0]?.A=='LVAL')   ||   (o.F[0]?.A=='GVAL')   ||   (o.F[0]?.A=='COND')   )">
    <ng-container *ngFor="let part of o.F; index as i">
        <span *ngIf="i==0">&lt;</span><span *ngIf="i!=0">&nbsp;</span><app-zil-object [o]="part"></app-zil-object><span *ngIf="i==o.F.length-1">&gt;</span>
    </ng-container>    
</ng-container>
