<div class="bg-grey-600" style="padding:16px;">
    <div class="bg-grey-100" style="padding:16px; border-radius:16px;">
        <ng-container *ngIf="!isInitialized">
            <app-spinner></app-spinner>
        </ng-container>
        <ng-container *ngIf="isInitialized">
            <h1 class="color-primary-900">{{o.Name}}</h1>
            <div style="font-size:medium" class="color-grey-700">{{gameData.metadata[o.Name].desc}}</div>
            <div class="mt-5" style="color:var(--primary-900); font-family:Source Code Pro, monospace; font-size:11pt;">
                <div>&lt;ROUTINE {{o.Name}} {{o.ArgSpec}}</div>
                <div style="margin-left:2em;">
                    <div *ngFor="let line of o.Body">
                        <app-zil-object [o]="line"></app-zil-object>
                    </div>
                </div>
                <div>&gt;</div>
            </div>
            <div class="mt-5 pb-3" style="font-size:smaller; color:var(--grey-700)">
                <i>Source:
                    <a [href]="zilSourceUrl" target="_blank" class="text-reset text-decoration-none">
                        <span style="color:var(--primary-700)">{{o.Source?.toLowerCase()}}</span>
                    </a>
                </i>
            </div>
        </ng-container>
    </div>
</div>
